/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0 auto;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-inner {
  width: 306px;
  border: 1px solid black;
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  float: left;
  color: indigo;
  font-size: xx-large;
  font-weight: bolder;
}

.box:hover {
  background-color: aqua;
  cursor: pointer;
}

.box-disabled {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  float: left;
  color: indigo;
  font-size: xx-large;
  font-weight: bolder;
  cursor: not-allowed;
}
